.scoresTitle {
  text-align: center;
  color: #003399;
}

.scoreName {
  color: lightslategrey;
}

.scoresTableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scoresTable {
  width: 60%;
  max-width: 450px;
}

.firstCol {
  text-align: start;
}

.secondCol {
  text-align: end;
}

.userScore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}